
.rectangleStyle {
  width: 50vw;
  background-color: #242424a3;
  border: solid 2px #cfbe79;
  z-index: 1;
  text-align: center;
  padding: 20px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  outline: solid 8px #242424 !important;
  border-radius: 50px;
}


.titleTeam {
  margin-top: 2%;
  color: #cfbe79;
  text-align: center;
}

.textTeam {
  text-align: center;
}

.containerCard {
  margin-top: 5%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
}

.cardTeam {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

.teamCard {
  border-radius: 50px;
  border: solid 1px #cfbe79 !important;
}

.teamCardBody {
  background-color: #242424;
  color: #242424;
}

.titleCardTeam {
  padding-bottom: 20px;
  text-align: center;
  color: #cfbe79 !important;
  font-weight: 600 !important;
}

.strongCardTeam {
  color: #929292;
}

.textCardTeam {
  color: #cfbe79;
}



@media screen and (max-width: 1300px) {
  .cardTeam {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; 
  }
}

@media screen and (max-width: 700px) {
  .cardTeam {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
